<div id="map" class="map-container"></div>
<div>经度：{{coordinate[0]}}纬度：{{coordinate[1]}}</div>
<button (click)="changeDrawing('Point')">点</button>
<button (click)="changeDrawing('LineString')">线</button>
<button (click)="changeDrawing('Polygon')">面</button>
<button (click)="changeDrawing('Circle')">圆</button>
<button (click)="changeDrawing('Circle','Square')">正方形</button>
<button (click)="changeDrawing('Circle','Box')">长方形</button>
<button (click)="selectLayer()">单击删除图层</button>
<button (click)="clearLayer()">全部清空</button>
<button (click)="addPoint()">撒点</button>
<button (click)="showPolyline()">撒线</button>
<button (click)="showPolygon()">撒面</button>
<button (click)="showCircle()">撒圆</button>
<button (click)="showSquare()">撒正方形</button>
<button (click)="clearInteraction()">关闭编辑</button>
<button (click)="editLayer()">编辑</button>
