<div id="demo1" class="map-container"></div>
<div id="popup" class="ol-popup">
    <a id="popup-closer" (click)="closePopup()"  class="ol-popup-closer"></a>
    <div id="popup-content"></div>
</div>
<div>经度：{{coordinate[0]}}纬度：{{coordinate[1]}}</div>
<button (click)="addInteractions('Point')">点</button>
<button (click)="addInteractions('LineString')">线</button>
<button (click)="addInteractions('Polygon')">面</button>
<button (click)="addInteractions('Circle')">圆</button>
<button (click)="addInteractions('Square')">正方形</button>
<button (click)="addInteractions('Box')">长方形</button>
<button (click)="deleteLayer()">单击删除图层</button>
<button (click)="clearLayer()">全部清空</button>
<button (click)="addPoint()">撒点</button>
<button (click)="showPolyline()">撒线</button>
<button (click)="showPolygon()">撒面</button>
<button (click)="showCircle()">撒圆</button>
<button (click)="showSquare()">撒正方形</button>
<button (click)="clearInteraction()">关闭编辑/绘制</button>
<button (click)="editLayer()">编辑</button>
<button (click)="openPopup()">popup展示</button>
