<div class="option">
  <header>
    <a class="module-name">openlayer模块</a>
  </header>
  <div class="main-container">
    <ul class="left">
      <li class="list-item">
        <a [routerLink]="['./bd-map']">openlayer-百度</a>
      </li>
      <li class="list-item">
        <a [routerLink]="['./new']">new-service</a>
      </li>
      <li class="list-item">
        <a [routerLink]="['./mapabc']">mapabc地图</a>
      </li>
      <li class="list-item">
        <a [routerLink]="['./minemap']">minemap四维图新地图</a>
      </li>
      <li class="list-item">
        <a [routerLink]="['./image']">图片地图</a>
      </li>
      <li class="list-item">
        <a [routerLink]="['./xzqh']">行政区划</a>
      </li>
      <li class="list-item">
        <a [routerLink]="['./area-map']">渐变色</a>
      </li>
    </ul>
    <div class="right">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>