@font-face {
  font-family: 'zh-font';
  src:  url('fonts/zh-font.eot?bpwd3t');
  src:  url('fonts/zh-font.eot?bpwd3t#iefix') format('embedded-opentype'),
    url('fonts/zh-font.ttf?bpwd3t') format('truetype'),
    url('fonts/zh-font.woff?bpwd3t') format('woff'),
    url('fonts/zh-font.svg?bpwd3t#zh-font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'zh-font' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-box:before {
  content: "\e900";
}
.icon-settings:before {
  content: "\e903";
}
.icon-calculate:before {
  content: "\e904";
}
.icon-east:before {
  content: "\e905";
}
.icon-delete:before {
  content: "\e906";
}
.icon-polygon:before {
  content: "\e907";
}
.icon-cancel:before {
  content: "\ea8c";
}
.icon-clean:before {
  content: "\ea2e";
}
.icon-select-line:before {
  content: "\e955";
}
.icon-edit:before {
  content: "\e909";
}
.icon-location:before {
  content: "\e951";
}
.icon-point-up:before {
  content: "\ea05";
}
.icon-checkbox:before {
  content: "\ea58";
}
.icon-radio:before {
  content: "\ea5f";
}
.icon-download:before {
  content: "\e9c7";
}
